<ul class="list-inline">
  <li>
    <a href="http://facebook.com/{{site.selena.facebook}}" title="Selena Li's Facebook"><i class="fa fa-facebook"></i></a>
  </li>
  <li>
    <a href="http://instagram.com/{{site.selena.instagram}}" title="Selena Li's Instagram"><i class="fa fa-instagram"></i></a>
  </li>
  <li>
    <a href="http://youtube.com/user/{{site.selena.youtube}}" title="Selena Li's YouTube"><i class="fa fa-youtube"></i></a>
  </li>
  <li>
    <a href="http://www.weibo.com/u/{{site.selena.weibo}}" title="Selena Li's Sina Weibo"><i class="fa fa-weibo"></i></a>
  </li>
  <li>
    <a href="http://t.qq.com/{{site.selena.tencent}}" title="Selena Li's Tencent Weibo"><i class="fa fa-tencent-weibo"></i></a>
  </li>
</ul>