<!doctype html>
<html lang="{{ page.language }}">

  <!-- Head
  =================================== -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/style.css">

    <title>{% unless page.slug == 'home' %}{{ page.title }} &middot; {% endunless %}{{ site.data.i18n.websitetitle[page.language] }}</title>
  </head>

  <body>

    <!-- Header
    =================================== -->
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">

          <a class="navbar-brand" href="{{ site.baseurl }}/{{ page.language }}">
            <img src="{{ site.baseurl }}/assets/images/logo-diap.png" width="120" height="30" alt="{{ site.title }}">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">🌎 {{ site.data.i18n[page.language][page.language] }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% assign slugpages = site.pages | where: 'slug', page.slug | sort: 'language' %}
                  {% for slugpage in slugpages %}
                    <a class="dropdown-item{% if slugpage.language == page.language %} active{% endif %}" href="{{ slugpage.url }}">{{ site.data.i18n[slugpage.language][page.language] }}</a>
                  {% endfor %}
                </div>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
              {% assign menuitems = site.pages | sort: 'menu' | where: 'language', page.language %}
              {% for item in menuitems %}
                {% if item.menu %}
                <li class="nav-item{% if page.url == item.url %} active{% endif %}">
                  <a class="nav-link" href="{{ item.url }}">
                    {{ item.title }}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

        </div>
      </nav>
    </header>

    <!-- Masthead
    =================================== -->
    <section id="masthead"{% if page.full %} class="full"{% endif %}>
      <div class="container">
        <div class="row">
          {% if page.slug == 'home' %}
            <div class="col-12 align-self-start"></div>
          {% endif %}
          <div class="col-12 align-self-center">
            {% if page.type %}
              <h1>{{ site.data.i18n[page.type].title[page.language] }}</h1>
              <p class="lead">{{ site.data.i18n[page.type].subtitle[page.language] }}</p>
            {% else %}
              <h1>{{ page.title }}</h1>
              <p class="lead">{{ page.subtitle }}</p>
            {% endif %}
          </div>
          {% if page.slug == 'home' %}
            <div class="col-12 align-self-end text-center">
              <a href="#main" class="btn-scroll">
                <i class="fa fa-angle-down animated"></i>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </section>

    <!-- Content
    =================================== -->
    <main id="main">

      <!-- Breadcrumbs
      =================================== -->
      {% unless page.full %}
      <section class="bg-white border-bottom">
        <nav aria-label="breadcrumb">
          <div class="container">
            <ol class="breadcrumb py-4 px-0">
              <li class="breadcrumb-item">
                <a href="{{ site.baseurl }}/{{ page.language }}">{{ site.data.i18n.home[page.language] }}</a>
              </li>
              {% if page.type %}
                <li class="breadcrumb-item">
                  <a href="{{ site.baseurl }}/{{ page.language }}/{{ page.type }}">{{ site.data.i18n[page.type].title[page.language] }}</a>
                </li>
              {% endif %}
              <li class="breadcrumb-item active" aria-current="page">
                {{ page.title }}
              </li>
            </ol>
          </div>
        </nav>
      </section>
      {% endunless %}

      <!-- Content
      =================================== -->
      {{ content }}

    </main>

    <!-- Footer
    =================================== -->
    <footer class="border-top py-4">
      <div class="container">
        <div class="row">
          <div class="copyright col-sm">
            <p>&copy; {{ site.since }}-{{ 'now' | date: "%Y" }} <a href="{{ site.baseurl }}/{{ page.language }}">{{ site.data.i18n.websitetitle[page.language] }}</a></p>
          </div>
          <div class="social-media col-sm">
            {% include social-media.liquid %}
          </div>
        </div>
      </div>
    </footer>

    <a id="back-to-top">
      <i class="fa fa-angle-up"></i>
    </a>


    <!-- Foot
    =================================== -->
    <script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/scripts/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.analytics }}');
    </script>

  </body>
</html>