---
layout: base
---
<section id="filmography-post" class="default-padding">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="well well-lg">
        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class="img-responsive" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAADCAQAAAAT4xYKAAAADklEQVR42mNkAAJGOAEAAC0ABNxMS2YAAAAASUVORK5CYII=" data-src="{{ site.baseurl }}/assets/uploads/posters/{{ page.slug }}.jpg" width="300" height="450" alt="{{ i.title }} poster">
            </figure>
          </div>

          <div class="col-sm-8">
            <div class="caption">
              <h1>{{ page.title }}</h1>
              <h4>{{ page.names.chinese }}</h4>

              <dl class="dl-horizontal">
                {% unless page.unreleased %}<dt>{{ site.data.i18n.broadcast[page.language] }}</dt>
                <dd>{% if page.language == 'zh' %}{{ page.broadcast.start | date: "%Y年%m月%d日" }} - {{ page.broadcast.end | date: "%Y年%m月%d日" }}{% else %}{{ page.broadcast.start | date: "%B %e, %Y" }} - {{ page.broadcast.end | date: "%B %e, %Y" }}{% endif %}</dd>{% endunless %}
                <dt>{{ site.data.i18n.genre[page.language] }}</dt>
                <dd>{{ page.genre | capitalize }}</dd>
                <dt>{{ site.data.i18n.running[page.language] }}</dt>
                <dd>{{ page.episodes }}</dd>
                <dt>{{ site.data.i18n.starring[page.language] }}</dt>
                <dd>{{ page.starring }}</dd>
                <dt>{{ site.data.i18n.producer[page.language] }}</dt>
                <dd>{{ page.producer }}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if page.synopsis %}
<section class="white small-padding">
  <div class="container">
    <h2 class="text-center">{{ site.data.i18n.synopsis[page.language] }}</h2>
    <p>{{ page.synopsis }}</p>
  </div>
</section>
{% endif %}

<section class="small-padding">
  <div class="container">
    <h2 class="text-center">{{ site.data.i18n.character[page.language] }}</h2>
    <div class="col-sm-8 col-sm-offset-2">
      {% for i in page.characters %}
        <div class="well well-sm">
          <div class="row">
            <div class="col-sm-3">
              <figure>
                <img class="img-responsive" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAADCAQAAAAT4xYKAAAADklEQVR42mNkAAJGOAEAAC0ABNxMS2YAAAAASUVORK5CYII=" data-src="{{ site.baseurl }}/assets/uploads/characters/{{ page.slug }}-{{ forloop.index }}.jpg" width="300" height="450" alt="Selena as {{ i.fullname }}">
              </figure>
            </div>
            <div class="col-sm-9">
              {% if page.role == 'guest' %} <span class="label label-primary pull-right">guest role</span>{% endif %}
              <div class="caption">
                <h4>{{ i.fullname }}</h4>
                <dl class="dl-horizontal">
                  {% if i.altname %}
                    <dt>{{ site.data.i18n.altname[page.language] }}</dt>
                    <dd>{{ i.altname }}</dd>
                  {% endif %}

                  {% if i.age %}
                    <dt>{{ site.data.i18n.age[page.language] }}</dt>
                    <dd>{{ i.age }} years</dd>
                  {% endif %}

                  {% if i.identity %}
                    <dt>{{ site.data.i18n.identity[page.language] }}</dt>
                    <dd>{{ i.identity }}</dd>
                  {% endif %}

                  <dt>{{ site.data.i18n.appearance[page.language] }}</dt>
                  <dd>{{ i.appearance }}</dd>

    <!--
                  {% if i.personality %}
                    <dt>Personality</dt>
                    <dd>{{ i.personality }}</dd>
                  {% endif %}

                  {% if i.background %}
                    <dt>Background</dt>
                    <dd>{{ i.background }}</dd>
                  {% endif %}

                  {% if i.happenings %}
                    <dt>Happenings</dt>
                    <dd>{{ i.happenings }}</dd>
                  {% endif %}
    -->
                </dl>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>