---
title:      About Selena
subtitle:   This is who she is
---

<section class="default-padding white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Biography</h2>
        <span class="line"></span>
        <p><strong>Selena Li</strong>, also known as 李詩韻 (<em>Li Sze Wan</em> or <em>Li Shi Yun</em>), is born on February 12th, 1981 in Hong Kong, China. When she was six, her family emigrated to Toronto, Canada. After graduating from high school, Selena attended the University of Toronto studying for a Bachelor of Commerce (BComm) degree in Accounting.</p>
        <p>In 2003, she interrupted her studies to participate in that year&#39;s Miss Hong Kong Pageant as an overseas contestant, and won the <em>Miss Talent</em> Award and <em>Miss Photogenic</em> Award. She became the first Miss photogenic Award winner in the history of the pageant who did not enter the final top five. Afterwards, she signed a contract with Television Broadcasts Limited (TVB), the largest free-to-air TV broadcaster in Hong Kong, and began her career as one of their managed artistes.</p>
      </div>
    </div>
    <div class="text-center">
      <a href="#timeline" class="btn-scroll">
        <i class="fa fa-angle-down animated"></i>
      </a>
    </div>
  </div>
</section>

<section id="timeline" class="small-padding">
  <div class="container">
    <h4 class="text-center">Her career</h4>

    <div class="timeline">
      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="{{assets}}/uploads/about-timeline-01.jpg" alt="">
        </div>
        <div class="timeline-content">
          <p>Within a year after signing a contract with TVB, Selena filmed her first television drama, «The Last Breakthrough», in which she played Fong Suet-Yi (Shirley), a supporting role.</p>
          <div class="cd-info">
            <h6>February 2004</h6>
            <div class="biz-title">first television drama</div>
          </div>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="{{assets}}/uploads/about-timeline-02.jpg" alt="">
        </div>
        <div class="timeline-content">
          <p>In the following years, Selena filmed numerous television dramas as one of the main characters and gained recognition from the audience for her performances in these dramas, predominantly in 2006 and 2008 when she was one of the hot favourites for the «Most Improved Actress» awards.</p>
          <div class="cd-info">
            <h6>2004-2009</h6>
            <div class="biz-title">gaining attention</div>
          </div>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="{{assets}}/uploads/about-timeline-03.jpg" alt="">
        </div>
        <div class="timeline-content">
          <p>During the broadcast of «Beyond the Realm of Conscience», in which she plays concubine Yin, Selena took a break from the showbiz for three and a half months and returned to Toronto to finish her degree that she started ten years earlier.</p>
          <div class="cd-info">
            <h6>September 2009</h6>
            <div class="biz-title">finishing studies</div>
          </div>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="{{assets}}/uploads/about-timeline-04.jpg" alt="">
        </div>
        <div class="timeline-content">
          <p>On March 29th, 2010, Selena opened her own beauty school named «Technique» in Jordan, in which she invested over 1 million HKD. She invited many of her artist friends, including Kevin Cheng, Linda Chung, Kenneth Ma and Nancy Wu, to attend the opening ceremony.</p>
          <div class="cd-info">
            <h6>March 2010</h6>
            <div class="biz-title">beauty school opening</div>
          </div>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="{{assets}}/uploads/about-timeline-05.jpg" alt="">
        </div>
        <div class="timeline-content">
          <p>After her business was on track, she returned to TVB and filmed «The Life of Times of a Sentinel» in which she is the first female lead for the first time. For her role in that drama, Selena received a nomination for the <em>Best Actress</em> award for the first time at TVB&#39;s Anniversary Awards.</p>
          <div class="cd-info">
            <h6>July 2011</h6>
            <div class="biz-title">first Best Actress nomination</div>
          </div>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="{{assets}}/uploads/about-timeline-06.jpg" alt="">
        </div>
        <div class="timeline-content">
          <p>Because of her tight schedule, Selena decided to withdraw her shares from «Technique» in early 2012 and focus fully on her acting career. That year, she starred in dramas «Gloves Come Off« and «Wish and Switch» as the female lead and received her very first award, the <em>Most Improved Actress</em> Award, at Starhub TVB Awards show held in Singapore.</p>
          <div class="cd-info">
            <h6>August 2012</h6>
            <div class="biz-title">winning first award</div>
          </div>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="{{assets}}/uploads/about-timeline-07.jpg" alt="">
        </div>
        <div class="timeline-content">
          <p>Later that year, her guest role in «The Confidant» was not only well-received by the audience, but also highly praised by colleagues, including veteran Best Actor and Actress-winners Wayne Lai and Sheren Tang.</p>
          <div class="cd-info">
            <h6>December 2012</h6>
            <div class="biz-title">highly praised performance</div>
          </div>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="{{assets}}/uploads/about-timeline-08.jpg" alt="">
        </div>
        <div class="timeline-content">
          <p>At the end of 2013, Selena filmed her first foreign television drama «Spouse for House» produced by MediaCorp, the largest media broadcaster and provider in Singapore. For her performance in this drama, she received the Highly Commended honour in the Best Comedy Performance category at the prestigious Asian Television Awards.</p>
          <div class="cd-info">
            <h6>End of 2013</h6>
            <div class="biz-title">first foreign drama</div>
          </div>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-img round">
          <img src="{{assets}}/uploads/about-timeline-09.jpg" alt="">
        </div>
        <div class="timeline-content">
          <p>Selena received the unique opportunity to play two different characters in «Ghost Dragon Cold Mountain», as the lively village girl To Fa and the beautiful, well-known courtesan Yan Mei-Neung. She was awarded the <em>My Most Favourite Character</em> Award at Astro Awards show in Malaysia for this performance.</p>
          <div class="cd-info">
            <h6>November 2014</h6>
            <div class="biz-title">winning Character award</div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>