---
title:      Contact
subtitle:   Get in touch!
---

<section class="default-padding white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Drop Us a Line</h2>
        <span class="line"></span>
        <p>Do you want to send Selena a fan mail? Do you have questions about make-up? Do you have any film, interviews or other work enquiries? Or do you simply want to say hello to the webmasters behind the website? Drop us a line! We will forward your e-mail to the correct person if necessary and you will receive a reply within a week.<p>
      </div>
    </div>
    <div class="text-center">
      <a href="#contactform" class="btn-scroll">
        <i class="fa fa-angle-down animated"></i>
      </a>
    </div>
  </div>
</section>

<section id="contactform" class="default-padding">
  <div class="container">
   <div class="row">

      <div class="side col-md-4 col-md-push-8 col-lg-3 col-lg-push-9">
        <div class="section">
          <h5>E-mail address</h5>
          <p>selena.li.official [@] gmail.com</p>
        </div>

        <div class="section">
          <h5>Telephone</h4>
          <p>
            <label>Selena's manager Pansy</label><br>
            (852) 23352103
          </p>
        </div>

        <div class="section">
          <h5>Post Address</h5>
          <p>
            Attn: TVB Talent Sub Division<br>
            TVB City<br>
            77 Chun Choi Street<br>
            Tseung Kwan O Industrial Estate<br>
            Kowloon<br>
            Hong Kong
           </p>
         </div>

        <div class="section">
            <h5>Social media</h5>
            <label>Selena's accounts</label>
            <ul class="list-inline">
              <li>
                <a href="http://instagram.com/{{site.selena.instagram}}" title="Selena Li's Instagram"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="http://youtube.com/user/{{site.selena.youtube}}" title="Selena Li's YouTube"><i class="fa fa-youtube"></i></a>
              </li>
              <li>
                <a href="http://www.weibo.com/u/{{site.selena.weibo}}" title="Selena Li's Sina Weibo"><i class="fa fa-weibo"></i></a>
              </li>
              <li>
                <a href="http://t.qq.com/{{site.selena.tencent}}" title="Selena Li's Tencent Weibo"><i class="fa fa-tencent-weibo"></i></a>
              </li>
              <li>
                <a href="http://facebook.com/{{site.selena.facebook}}" title="Selena Li's Facebook"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>

            <label>Fanclub accounts</label>
            <ul class="list-inline">
              <li>
                <a href="http://instagram.com/{{site.fanclub.instagram}}" title="Selena Fan Club Instagram"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="http://vimeo.com/{{site.fanclub.vimeo}}" title="Selena Fan Club Vimeo"><i class="fa fa-vimeo-square"></i></a>
              </li>
              <li>
                <a href="http://www.weibo.com/{{site.fanclub.weibo}}" title="Selena Fan Club Sina Weibo"><i class="fa fa-weibo"></i></a>
              </li>
              <li>
                <a href="http://t.qq.com/{{site.fanclub.tencent}}" title="Selena Fan Club Tencent Weibo"><i class="fa fa-tencent-weibo"></i></a>
              </li>
              <li>
                <a href="http://twitter.com/{{site.fanclub.twitter}}" title="Selena Fan Club Twitter"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
        </div>
      </div>

      <div class="col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">
        <form method="POST" action="//forms.brace.io/selena.li.official@gmail.com" class="form-horizontal" role="form">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Your Name</label>
              <div class="col-sm-10">
                <input type="text" id="name" name="name" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Your Email</label>
              <div class="col-sm-10">
                <input type="email" id="email" name="_replyto" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="category" class="col-sm-2 control-label">Type of message</label>
              <div class="col-sm-10">
                <select id="category" name="category" class="form-control">
                  <option>Fan mail</option>
                  <option>Work</option>
                  <option>Beauty</option>
                  <option>Website</option>
                  <option>Others</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="subject" class="col-sm-2 control-label">Subject</label>
              <div class="col-sm-10">
                <input type="text" id="subject" name="subject" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="message" class="col-sm-2 control-label">Your Message</label>
              <div class="col-sm-10">
                <textarea id="message" name="message" class="form-control" rows="15"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Send your message" class="btn btn-primary">
              </div>
            </div>

            <input type="hidden" name="_subject" value="Selena-Li.com New Message" />
            <input type="text" name="_gotcha" class="hidden" />
        </form>
      </div>

    </div>
   </div>
</section>