<!DOCTYPE html>
<html lang="en">
  <head>
    {{!-- head
    =================================== --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{#isnt basename "index"}}{{title}} &middot; {{/isnt}}{{site.title}}
    </title>

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700|Raleway:300" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {{#is dirname "build/beauty"}}
      <link href="http://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.13.2/css/mediaelementplayer.min.css" rel="stylesheet">
    {{/is}}

    <!-- Custom CSS -->
    <link href="{{assets}}/css/elsa.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {{!-- header
    =================================== --}}
    <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

          <!-- Brand and toggle -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{relative page.dest "index.html"}}">
              <img src="{{assets}}/images/logo-dark.png" class="logo-dark" alt="Selena-Li.com" />
              <img src="{{assets}}/images/logo-white.png" class="logo-white" alt="Selena-Li.com" />
            </a>
          </div>

          <!-- Nav links -->
          <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li{{#is basename 'about'}} class="active"{{/is}}>
                <a href="{{relative page.dest "about.html"}}">About Selena</a>
              </li>
              <li{{#is basename 'filmography'}} class="active"{{/is}}{{#is dirname "build/filmography"}} class="active"{{/is}}>
                <a href="{{relative page.dest "filmography.html"}}">Filmography</a>
              </li>
              <li{{#is basename 'beauty'}} class="active"{{/is}}{{#is dirname "build/beauty"}} class="active"{{/is}}>
                <a href="{{relative page.dest "beauty.html"}}">Beauty</a>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    </header>


    {{> body }}


    {{!-- footer
    =================================== --}}
    <footer>
      <div class="footer-copyright">
        <p class="text-center">&copy; Copyright {{site.copyright}} <a href="{{site.url}}">{{site.title}}</a>.</p>
      </div>
    </footer>

    <a id="back-to-top">
      <i class="fa fa-angle-up"></i>
    </a>


    {{!-- foot
    =================================== --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {{#is basename "index"}}
      <script src="{{assets}}/js/plugins/instafeed.min.js"></script>
    {{/is}}
    {{#is basename "filmography"}}
      <script src="{{assets}}/js/plugins/isotope.min.js"></script>
    {{/is}}
    {{#is basename "beauty"}}
      <script src="{{assets}}/js/plugins/isotope.min.js"></script>
    {{/is}}
    {{#is dirname "build/beauty"}}
      <script src="http://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.13.2/js/mediaelement-and-player.min.js"></script>
    {{/is}}

    <script src="{{assets}}/js/elsa.min.js"></script>
  </body>
</html>