---
layout: base.hbs
---

{{!-- masthead
=================================== --}}
<div id="masthead" class="half">
  <span class="overlay-pattern"></span>
  <div class="inner">
    <div class="box container text-center">
      {{#is dirname "build/filmography"}}
        <h1>{{site.filmography.title}}</h1>
        <span class="line"></span>
        <p>{{site.filmography.subtitle}}</p>
      {{else}}
        {{#is dirname "build/beauty"}}
          <h1>{{site.beauty.title}}</h1>
          <span class="line"></span>
          <p>{{site.beauty.subtitle}}</p>
        {{else}}
          <h1>{{title}}</h1>
          <span class="line"></span>
          <p>{{subtitle}}</p>
        {{/is}}
      {{/is}}
    </div>
  </div>
</div>


{{!-- content
=================================== --}}
<main id="main">
  {{> body }}
</main>