---
layout: base.hbs
---
<section id="filmography-post" class="default-padding">
  <div class="container">
    <div class="row">

      <div class="col-md-5 col-lg-4">
        <div class="item">
          <div class="hover">
            <a href="{{assets}}/uploads/filmography-poster-{{slugify title}}.jpg" data-featherlight="image">
              <span class="block text-center">
                <i class="fa fa-expand"></i>
              </span>
            </a>
          </div>
          <img src="{{assets}}/uploads/thumb/filmography-poster-{{slugify title}}.jpg" class="img-responsive" alt="{{title}} poster">
        </div>
      </div>

      <div class="details col-md-7 col-lg-8">
        <h1>{{title}}</h1>

        <dl class="dl-horizontal small-padding">
          <dt>Also Known As</dt>
          <dd>{{chinesetitle}} ({{previoustitle}})</dd>
          <dt>Broadcast Date</dt>
          <dd>{{formatDate broadcaststart "%B %e, %Y"}} - {{formatDate broadcastend "%B %e, %Y"}}</dd>
          <dt>Genre(s)</dt>
          <dd>{{capitalizeEach genre}}</dd>
          <dt>Running Time</dt>
          <dd>{{episodes}} episodes</dd>
          <dt>Starring</dt>
          <dd>{{starring}}</dd>
          <dt>Produced by</dt>
          <dd>{{producer}}</dd>
        </dl>

        <a class="btn btn-default pull-right" href="{{website}}">Official Website</a>
      </div>

    </div>
  </div>
</section>

<section class="small-padding white">
  <div class="container">
    <h3 class="text-center">Synopsis</h3>
    <p>{{{synopsis}}}</p>
  </div>
</section>

<section class="small-padding">
  <div class="container">
    <h3 class="text-center">Selena's character</h3>
    <!--{{#if image}}<img src="{{assets}}/uploads/filmography-character-{{slugify title}}-1.jpg" width="250" height="250" class="img-responsive img-circle center-block" alt="{{fullname}} character still" />{{/if}}-->
    <h5 class="text-center">{{fullname}}</h5>

    <div class="row">
      <div class="col-md-4{{#unless personality}} col-md-offset-4{{/unless}}">
        <dl class="dl-horizontal small-padding">
          {{#if nickname}}
            <dt>Nickname(s)</dt>
            <dd>{{altname}}</dd>
          {{/if}}
          {{#if age}}
            <dt>Age</dt>
            <dd>{{age}} years</dd>
          {{/if}}
          {{#if identity}}
            <dt>Identity</dt>
            <dd>{{identity}}</dd>
          {{/if}}
          <dt>Appearance</dt>
          <dd>Episode {{appearance}}</dd>
        </dl>
      </div>

      {{#if personality}}
      <div class="col-md-8">
        <div id="myTab" class="small-padding" role="tablist">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation">
              <a href="#personality" data-toggle="tab" role="tab">Personality</a>
            </li>
            <li role="presentation">
              <a href="#background" data-toggle="tab" role="tab">Background</a>
            </li>
            <li role="presentation">
              <a href="#happenings" data-toggle="tab" role="tab">Happenings</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="personality" class="tab-pane active" role="tabpanel">{{{personality}}}</div>
            <div id="background" class="tab-pane" role="tabpanel">{{{background}}}</div>
            <div id="happenings" class="tab-pane" role="tabpanel">{{{happenings}}}</div>
          </div>
        </div>
      </div>
      {{/if}}
    </div>

  </div>
</section>